h2 {
  text-align: left;
  margin-left: 10%;
  margin-bottom: 8;
}

div {
  box-sizing: border-box;
}

footer {
  margin-left: 10%;
  box-sizing: border-box;
  font-size:2vmin
}

p {
  font-size: 2vmin;
  margin-left: 10%;
  text-align: left;
}

a:link {
  color: black;
  text-decoration: none;
}

a:visited {
  color: black;
  text-decoration: none;
}

a:hover {
  color: black;
  text-decoration: none;
}

a:active {
  color: black;
  text-decoration: none;
}

.background {
  fill: none;
  pointer-events: all;
}

#byline {
  font-color: gray;
  font-size: 10px;
  margin-left: 10%;
}

#container {
  width: 100%;
  height: 100%;
}

#content {
  margin-left: 10%;
}

.sig0 {
  fill: black;
}

.sig1 {
  fill: red;
}

#states {
  fill: #007b00;
  opacity: .45;
}

#state-borders {
  fill: none;
  stroke: #fff;
  stroke-width: 1.5px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

#slider {
  font-size: 2vmin;
  width: 100%;
  height: 10px;
  margin: auto;
}

#sliderContainer {
  width: 300px;
  margin: auto;
  text-align: center;
}

#twitterButton {
  font-size: 2vmin;
  margin-left: 10%;
  margin-bottom: 5;
}
